@media (min-width: 1024px) {

    .navigation {
        display: block;
    }

    #menu {
        display: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
}