html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

legend {
    font-size: 24px;
    font-family: "Funnel Sans", sans-serif;
}

body {
    font-size: 16px;
    font-family: "Archivo Narrow", sans-serif;
}

header,
footer {
    font-family: 'Funnel Sans', sans-serif;
    background-color: #c5283d;
    padding: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 1.8rem;
    text-align: center;
    color: white;
    display: block;
}


header h1 {
    margin: 0;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.wfl fieldset {
    margin: 2rem 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wfl legend {
    color: #445ba9;
    padding: 0 .5rem;
    text-align: center;
}

.wfl label {
    display: block;
    padding-top: .8rem;
    padding-bottom: .9rem;
    color: #9c2c13;
    font-size: 1.2rem;
}

.wfl div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

.wfl input[type="text"],
.wfl input[type="tel"],
.wfl input[type="email"],
.wfl input[type="url"],
.wfl input[type="date"],
.wfl select,
.wfl input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 8px;
    padding: .70rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wfl input[type="radio"],
.wfl input[type="checkbox"] {
    margin-right: 6px;
}

.wfl input[type="submit"] {
    border: none;
    background: #255F85;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    max-width: 400px;
    margin: 1rem auto;
    box-shadow: 1px 1px 4px #999;
    font-family: "Funnel Sans", sans-serif;
    font-size: 2rem;
    display: block;
}

.wfl input:required {
    border-bottom: solid 2px red;
}

.wfl input:required:valid {
    border-bottom: solid 8px green;
}

.wfl {
    max-width: 550px;
    margin: 0 auto;
    padding: 1rem;
}

.wfl textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    min-height: 120px;
    resize: vertical;
    margin: 0 auto;
}

