:root {
    --primary-color: #c5283d;
    --secondary-color: #255f85;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Funnel Sans', sans-serif;
    background-color: var(--primary-color);
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: center;
    color: white;
    display: block;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero picture,
.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box {
    background-color: rgba(31, 91, 111, 0.5);
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.box {
    color: white;
    font-size: 1.5rem;
    font-family: 'Archivo Narrow', sans-serif;
    line-height: 1.5;
    text-align: center;
}

.box h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Funnel Sans', sans-serif;
}

.label {
    font-weight: bold;
    color: #ffebcd;
    margin-right: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}

.value {
    color: #ffffff;
    font-style: italic;
}

@media (max-width: 650px) {
    .hero {
        height: auto;
    }

    .content {
        position: static;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
        gap: 20px;
        width: 100%;
    }

    .box {
        width: 90%;
    }
}

h2.weather::after {
    content: "☀️";
    margin-left: 10px;
}

.icon-mobile {
    display: none;
}

@media (max-width: 650px) {

    h2.weather::after {
        content: "";
    }

    .icon-mobile {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        vertical-align: middle;
    }
}


footer {
    font-family: 'Funnel Sans', sans-serif;
    background-color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: center;
    color: white;
    display: block;
}