:root {
    --primary-color: #8B0000;
    --secondary-color: #FFD700;
    --backgrounC: #F5DEB3;
    --textC: #333;
}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header span,
footer {
    font-family: 'Funnel Sans', sans-serif;
    background-color: var(--primary-color);
    padding: 1.5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 1.8rem;
    text-align: center;
    color: white;
    display: block;
}

header span {
    font-size: 4rem;
    font-weight: bold;
}


main {
    padding: 0 2%;
    min-height: 20rem;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    color: var(--textC);
    background-color: var(--backgrounC);
}

/*----- NAV BAR -----*/


nav {
    background-color: #ffc857;
    width: 100%;
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: var(--textC);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s ease;
}

.navigation a {
    width: 100%;
}

nav a:hover {
    background-color: #f2a541;
    color: white;
    border-radius: 8px;
    transform: scale(1.1);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: none;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.open {
    display: flex;
}

/* ----- MOBILE LAYOUT ----- */

@media (max-width: 1023px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    .navigation {
        display: block;
    }

    #menu {
        display: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
}

/* ----- BODY ----- */

.info {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem;
    font-family: 'Source Sans 3', sans-serif;
    color: #2E2E2E;
}

.info h1 {
    margin-top: -1.7rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #8B0000;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    line-height: 1.8;
    flex-wrap: wrap;
}

.about-img {
    width: 45%;
    border-radius: 12px;
    border: 3px solid rgba(192, 128, 32, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.about-content p {
    width: 50%;
    font-size: 1.2rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-img,
    .about-content p {
        width: 100%;
    }
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 4rem;
}

.slide-content {
    margin: 0 40px;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    row-gap: 5px;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 220px;
    width: 100%;
    border-radius: 15px;
    background: #FFF;
    padding: 5px;
    overflow: hidden;
}

.card-image .card-img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid var(--primary-color);
}

.containers {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.dish {
    font-family: "Funnel Sans", sans-serif;
    margin-top: -.5rem;
    margin-bottom: -0.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.description {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    text-align: center;
}